<div>
    <h1 >My favorite super hero is {{ myFavorite }}</h1>
    <br/>
    Daftar super hero:
    <!-- ini komentar -->
    <ul>
        <li *ngFor="let hero of superheroes; let i = index">
        <button (click)="showMeTheValue(i)">
            {{ hero }}
        </button>
        </li>
    </ul>
    <label for="namaSuperhero">Nama Super Hero</label>
    <input id="namaSuperhero" type="text" 
        name="myfavorite" [(ngModel)]="myFavorite"/>
    <br/>
    <button (click)="showTheValue()">Tambah</button><br/>
</div>