<div class="container">
    <div class="row">
        <app-header></app-header>
    </div>
    <div class="row">
        <div class="col-md-5">
            <span id="text-kecil">Daftar super hero:</span>
            <!-- ini komentar -->
            <!-- <ul class="list-group">
                <li class="list-group-item" *ngFor="let hero of superheroes; let i = index">
                    <a (click)="showMeTheValue(i)">
                        {{ hero }}
                    </a>
                </li>
            </ul> -->
            <app-superhero-list></app-superhero-list>
        </div>
        <div class="col-md-4">
            <app-add-superhero></app-add-superhero>
        </div>
        <div class="col-md-3">
            <div class="col-md-3">kolom 1</div>
            <div class="col-md-3">kolom 2</div>
            <div class="col-md-3">kolom 3</div>
            <div class="col-md-3">kolom 4</div>
        </div>
    </div>
    <div class="row">
        <app-footer></app-footer>
    </div>
</div>