/* selector build-in html sintax */
h1, ul{
    color: red; 
    background-color: yellow;
    border: 1px solid black;
}

/* selector dengan class */
.text-besar{
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
}

#text-kecil{
    text-transform: lowercase;
    font-size: 15px;
    font-weight: lighter;
}