<div class="col-md-8">
    <span id="text-kecil">Daftar super hero:</span>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td>No</td>
                <td>Nama Depan</td>
                <td>Nama Belakang</td>
                <td>Kekuatan</td>
                <td>Hapus</td>
            </tr>
        </thead>
        <tbody>
            <tr class="app-superhero-item" 
                *ngFor="let hero of superheroes; let i = index" 
                [pahlawan]="hero"
                [nomor]="i" 
                (onRemove)="hapusData($event)"></tr>
        </tbody>

    </table>
</div>
<div class="col-md-4">
    <app-add-superhero (sentData)="addAnItem($event)"></app-add-superhero>
</div>

<div class="row">
    <ul>
        <li *ngFor="let post of posts">{{ post.title }}</li>
    </ul>
</div>